
*{
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    

    font-family: apple-system;
}


#imagem{
    background-image: url("../img/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
}
#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-top: 30px;
}

.letras{
    width: 30px;
    text-align: center;
    border-bottom: 2px solid #1e008b;
    color: #070707;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 30px;
   
}

.teclas button{
    width: 40px;
    height: 30px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow:  0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgrey;  
    color: #2a008b;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.teclas button:disabled{
    cursor: not-allowed;
}

.teclas button:hover{
    transform:scale(1.3);
}

#categoria{
    margin-top: 30px;
    color: #2e008b;
    font-size: 1.2em;
}

#continente{
    margin-top: 20px;
    
    text-align: center;
}


